@import url('https://fonts.googleapis.com/css?family=poppins:400,500,600,700&display=swap');

*{
    
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
  
}
html{
    font-size: 62.5%;
}
nav{
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 5rem 0rem 5rem;
    z-index: 1000;
    position: sticky;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.6rem;  
    background-color: #000000;
}
.navcolor{
    background-color: #000000;
}



nav ul{
    display: flex;
    list-style: none;
}


nav ul li a:hover{
    color: cyan;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem #33ffff, 0 0 .5rem #66ffff;
}       
.active, .btn:hover {
    color: cyan;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem #33ffff, 0 0 .5rem #66ffff;
  }       

nav ul li a{
    text-decoration: none;
    padding: 1rem 1.5rem;
    color: #ffffff;
}
nav ul li{
    margin: 0rem 3rem;
    position: relative;
}
nav .menu-btn i{
    cursor: pointer;
    display: none;
    color: #ffffff;
}
#click{
    display: none;
}

a:hover{

    color: #0070c0;
}


   
.dropdown{
    display: none;
}

nav ul li:hover .dropdown{
    display: block;
    position: absolute;
    left: 0;
    top: 160%;
  border-radius: 1rem;
  box-shadow: 0 0 .5rem #33ffff, 0 0 .5rem #66ffff;
    background-color: #000000;
   
}
.dropdown ul{
    display: block;
    margin: 1rem;
    
    
}
.dropdown ul li{
    width: 15rem;
    padding: 1.5rem .5rem;
    
   
}




.box2{
    width: 100%;
    height: 80vh;
    background-image: url(../images/post.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.b1{
   width: 100%;
   height: auto;
   margin-top: 5rem;
  padding-bottom: 5rem; 
   margin-bottom: 5rem;
   box-shadow: 0rem 2rem 2rem 0rem rgb(207, 207, 207);
}


.b1 h1{

font-size: 4rem;
font-family: arial;
margin-left: 5rem;
color: #000000;

}

.b1 .z{
    width: 38rem;
    height: .5rem;
    background-image: linear-gradient(to right, red, orange);
   border-radius: 2rem;
   margin-left: 5rem;
   margin-top: .5rem;
  
}

.b1 .img-gallery{
   width: 80%;
   margin: 5rem auto 5rem;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   grid-gap: 3rem;
}
.b1 .img-gallery img{
   width: 100%;
   cursor: pointer;
   transition: 0.4s;
}
.b1 .img-gallery img:hover{
   transform: scale(0.8) rotate(-15deg);
   border-radius: 2rem;
   box-shadow: 0 3.2rem 7.5rem rgba(68, 77, 136, 0.2);
}

.b1 .full-img{

   width: 100%;
   height: 100vh;
   background: rgba(0, 0, 0, 0.9);
   position: fixed;
   top: 0;
   left: 0;
   display: none;
   align-items: center;
   justify-content: center;
   z-index: 100;
}
.b1 .full-img img{
   width: 90%;
   max-width: 50rem;
}
.b1 .full-img span{
   position: absolute;
   top: 15%;
   font-family: Arial, Helvetica, sans-serif;
   right: 5%;
   font-size: 3rem;
   color: #ffffff;
   cursor: pointer;
}













footer .b23{
    width: 100%;
    height: auto;
  color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0rem 10rem 0rem 10rem;
    
}
footer .b23 .b24{
    width: 8rem;
    height: 8rem;
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
    display: inline-flex;
    justify-content: center;
   
    
}

footer .b23 h3{
    font-style: italic;
    margin-top: .5rem;
}
footer .b23 h3 a{
   text-decoration: none;
   color: #fff;
}
footer .b23 p{
    margin-top: 1rem;
    font-size: 1.2rem;
}
footer .b23 h5{
   
    font-size: 1.2rem;
}

footer .b23 .b24{
    background-image: url(../images/fot.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}















footer ul{
    display: flex;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}
footer ul li{
    margin: 1.5rem;
}
footer ul li a{
    text-decoration: none;
    color: #ffffff;
}
footer ul li a i{
    font-size: 3rem;
}
footer h5{
    margin-top: 1rem;
    color: #888888;
}

footer{
    width: 100%;
    height: auto;
    background-image: url(../images/14.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-top: 5rem;
   color: #ffffff;
   padding-top: 5rem;
   padding-bottom: 5rem;
    
}











    


@media screen and (max-width: 998px){

    html{
        font-size: 55%;
    }

}    
@media screen and (max-width: 768px){

html{
    font-size: 45%;
}

}   

@media screen and (max-width: 922px){

nav{
padding: 0rem 2rem 0rem 1rem;
}
nav ul{
position: fixed;
top: 8rem;
left: -100%;
height: auto;
width: 100%;
display: block;
text-align: center;
background: #111;
transition: all 0.3s ease;

}

#click:checked ~ ul{
left: 0%;
}
#click:checked ~ .menu-btn i:before{
content: "\f00d";
}

nav ul li{
margin: 2rem 0rem;
}
nav ul li a{

display: block;
color: white;
}
nav ul li a:hover{
color: cyan;

}
nav .menu-btn i{
cursor: pointer;
display: block;
}

.dropdown ul{
    display: block;
    margin-left: 66rem;
    margin-top: 18rem;
    box-shadow: 0 0 .5rem #33ffff, 0 0 .5rem #66ffff;
    background-color: #000000;
    border-radius: 1rem;
    text-align: center;  
    z-index: 1111; 
    width: 25rem;
}
.dropdown ul li{
    width: 15rem;
    margin-left: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: .1rem;
}

    .box2{
        width: 100%;
        height: 25rem;
       

       
        
    }

   
    footer a{
        font-size: 1.2rem;
       
    }
 

   
}

@media screen and (max-width: 1920px){

    nav{
        padding: 0rem 2rem 0rem 1rem;
    }
 
    


}
